.formreset{
    margin-top: 100px;

}
.form-ex{
    padding: 50px;
    border-radius: 17px;
    background-color: rgb(45, 45, 54);
    color: aliceblue;
    text-align: center;
}
.form-ex input{
    
    margin-bottom: 30px;
}
a {
    text-decoration: none;
}

.log {
    padding-right: 20px;
    height: 50px;
    width: 70px;
}

.bar {
    border: 0;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    outline: 0 none;

}